*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* Common component start */
.button-edu {
    padding: 14px 35px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ff1949;
    color: #fff;
    border-radius: 30px;
    border: none;
    border: 2px solid transparent;
    outline: 0;
    cursor: pointer;
    transition: all .4s;
}
.button-edu:hover{
    background-color: #fff;
    color: #ff1949;
    border: 2px solid #ff1949;
}
.title{
    font-weight: 700;
    font-size: 30px;
    color: #030d28;
    position: relative;
}
.title::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: #030d28;
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}
.title::before{
    content: '';
    width: 80px;
    height: 2px;
    background-color: #030d28;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
/* Common  component end */
/* =======================================
Header Area Start 
======================================= */
header{
    background-color: #ff1949;
    padding: 15px 0;
}
.main-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #fff;
}
/* =======================================
 Navbar area start 
======================================= */
.navbar-area{
    padding: 30px 0;
    transition: top 0.3s; 
}
.sticky{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 285;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 25px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.logo {
    text-decoration: none;
}
.logo h1{
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
}
.menu ul{
    display: flex;
    align-items: center;
    align-content: center;
}
.menu ul li {
    list-style: none;
    margin-left: 25px;
}
.menu ul li a {
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: all .4s;
}
.menu ul li:last-child a {
    padding: 15px 28px;
    border-radius: 25px;
    background-color: #ff1949;
    color: #fff;
    border: 2px solid transparent;
    transition: all .4s;
}
.menu ul li:last-child a:hover{
    background-color: #fff;
    color: #ff1949;
    border: 2px solid #ff1949;
}
.menu ul li a:hover {
    color: #ff1949;
}
.current{
    color: #ff1949 !important;
}
/* =======================================
Banner area start 
======================================= */
.banner{
    padding: 120px 0 0 0;
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-title h1{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.banner-btn{
    margin-top: 15px;
    text-align: center;
}
/* online center banner  */
.online-center{
    padding: 50px 70px 40px 70px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    top: 160px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}
.center-box{
    display: grid;
    grid-template-columns: 48% 42%;
    justify-content: space-between;
   
}
.online-center::after {
    content: '';
    width: 450px;
    height: 20px;
    background-color: #ff1949;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-radius: 15px;
    z-index: -1;
}
   
.center-box-content{
    position: relative;
}
.center-box-content::after{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -32%;
    background-color: #4b526480; 
}
.center-box-content h2{
    font-weight: 500;
    font-size: 35px;
    color: #030d28;
}
.center-box-content p{
    font-weight: 500;
    margin-top: 20px;
    color: #030d28;
    line-height: 24px;
}
.center-box-icon {
    margin-left: 130px;
}

.center-icon-single-box{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.online-icon i{
    font-size: 45px;
    color: #030d28;
}
.online-text{
    margin-left: 20px;
}
.online-text h2 {
    font-weight: 500;
    font-size: 25px;
    color: #030d28;
    margin-bottom: 8px;
}
.online-text p { 
    font-weight: 700;
    color: #030d28;
}
/* =======================================
Teacher Area Start
======================================= */
.teacher-area{
    padding: 290px 0 80px 0;
}
.title h1 {
    font-size: 36px;
    text-align: center;
}
/* Single Box teacher  */
.teacher{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    margin-top: 100px;
}
.teacher-single-box{
    position: relative;
}
.teacher-single-box::after {
    content: '';
    width: 127px;
    height: 6px;
    position: absolute;
    bottom: 18px;
    right: 50%;
    transform: translateX(50%);
    background-color: #ff1949;
}
.teacher-single{
    text-align: center;
}
.teacher-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.teacher-name{
    padding: 25px 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    position: relative;
    background-color: #fff;
    bottom: 25px;
}
.teacher-name h2 {
    font-weight: 700;
    font-size: 20px;
    color: #030d28;
    margin-bottom: 10px;
}
.teacher-name p{
    font-weight: 700;
    color: #636363;
}
/* =======================================
   Study Area Start
======================================= */
.study-area{
    padding: 80px 0;
    position: relative;
    z-index: 2;
    background-image: url(../images/banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.study-area::after {
    content: '';
    width: 90%;
    height: 100%;
    background-color: #030d28;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 55% 100%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 55% 100%, 75% 100%, 0% 100%);
    z-index: -1;
}
.study{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 125px;
}
.study-content h1{
    color: #fff;
    text-align: start;
    
}
.title-a-f{
    margin-bottom: 50px;
}
.title-a-f::after, .title-a-f::before{
    left: 0;
    transform: translateX(0);
    background-color: #fff;
}
.study-content-p p{
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    line-height: 24px;
}
.study-btn {
    margin-top: 30px;
    text-align: start;
}
.study-video{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.study-video i{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    background-color: #ff1949;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    outline: 12px solid #636363;
}
/* =======================================
Popolar Area Start
======================================= */
.popular-area{
    padding: 80px 0 15px;
}
.popular-course{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    margin-top: 100px;
}
/* Popular single box  */
.popular-sinle-box{
    margin-top: 20px;
}
.popular-sinle-box-img{
    width: 60%;
}
.popular-sinle-box-img img{
    width: 100%;
    object-fit: cover;
}
.popular-sinle-box-content {
    width: 62%;
    padding: 30px 35px;
    position: relative;
    top: -98px;
    left: 160px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background-color: #fff;
}
.popular-sinle-box-content::before {
    content: '';
    width: 7px;
    height: 100px;
    position: absolute;
    right: -8px;
    bottom: 0;
    background-color: #ff1949;
}
.popular-text-box h2{
    font-size: 18px;
    color: #030d28;
    text-transform: uppercase;
}
.popular-text-box span {
    display: inline-block;
    margin: 4px 0 13px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #636363;
    text-transform: uppercase;
}
.popular-text-box p{
    color: #030d28;
    line-height: 24px;
}
.popular-btn{
    text-align: start;
}
.popular-btn button {
    padding: 8px 15px;
    font-size: 14px;
}
.popular-balance {
    width: 80px;
    height: 61px;
    border-radius: 40px 40px 0 0;
    position: absolute;
    top: -63px;
    right: 19px;
    overflow: hidden;
    text-align: center;
}
.popular-balance h2 {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background-color: #030d28;
    padding: 20px;
}
/* =======================================
 count Area Start
======================================= */
.count-area{
    padding: 80px 0 80px 0;
    background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.count-single-area{
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
}
.count-box{
    flex-basis: 25%;
    text-align: center;
    color: #030d28;
}
.count-box h2{
    font-weight: 700;
    font-size: 40px;
}
.count-box p{
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
}
/* =======================================
  News Area Start 
======================================= */
.news-area{
    padding: 80px 0;
}
.news-single-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    margin-top: 100px;
    
}
.news-singke-box{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.popular-text-box {
    padding: 0 0 20px 10px;
}
.news-img {
    margin-bottom: 25px;
}
.news-img img {
    width: 100%;
}
/* =======================================
  contact Area Start 
======================================= */
.contact-area{
    padding: 80px 0;
    background-color: #030d28;
    color: #fff;
}
.contact-single-area{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    column-gap: 20px;
}
.contact-logo .logo p{
    margin-top: 7px;
    line-height: 23px;
    padding-right: 165px;
}
.contact-links p,.contact-email p {
    margin-top: 7px;
}
.contact-title h2{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}
.contact-title h2::after {
    content: '';
    width: 43px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 0;
}
/* =======================================
  Fotter Area Start
======================================= */
.fotter-area{
    padding: 22px 0;
    background-color: #ff1949;
}
.fotter p{
    color: #fff;
    text-align: center;
}


/* Scroll up Button  */

.scroll-top{
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 9999;
}
.scroll-top a{
    text-decoration: none;
}
.scroll-top i{
    font-size: 20px;
    color: #fff;
    background-color: #ff1949;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
